<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="nopCommerce regression test suite" parallel ="tests" thread-count="4" verbose="3" >
    <listeners>
        <listener class-name="com.nopcommerce.testlisteners.ExtentReportListener"></listener>
        <listener class-name="com.nopcommerce.testlisteners.AllureReportListener"></listener>
    </listeners>
    
    <test name="home page test" >
        <classes>
            <class name="com.nopcommerce.tests.HomePageTest" />
        </classes>
    </test>

    <test name="log in test">
        <classes>
            <class name="com.nopcommerce.tests.LoginPageTest"/>

        </classes>
    </test>

    <test name="register page test" >
        <classes>
            <class name="com.nopcommerce.tests.RegisterPageTest" />
        </classes>
    </test>

    <test name="search page test">
        <classes>
            <class name="com.nopcommerce.tests.SearchPageTest"/>

        </classes>
    </test>
</suite>
